@import '../../Styles/mixins';
@import '../../Styles/variables';

.investidoresLista{
    @include flexCenter(column);
    width: 25%;
    border-radius: 5%;
    box-shadow: 1px 1px 3px 1px rgb(199, 187, 187);
    background-color: $cards-background;

}

@media(max-width:940px){
    .investidoresLista{
        width: 80%;
    }
    
}

