

.searchInvestidores{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
    gap:10px;

   

}

.searchInvestioresSearchBar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}