@import '../../Styles/mixins';

.editarOuCadastrarForm{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    padding: 2rem;
    width: 50%;
    
    box-shadow: 1px 1px 3px 1px rgb(199, 187, 187);
}

.editarOuCadastrarFormPhone{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;
    outline: none;
    padding: 0 1rem;
    height: 58.5px ;

    &:hover{
        border-color: #000;
    }

    &:focus-within{
        border-color: #1976d2;
        box-shadow: 0 0 0 1px #1976d2;
    }

    input{
        border: none;
    font-size: 16px;
    outline: none;
    padding: 1rem; 
    }
}

.editarOuCadastrarFormUsina{
    @include flexCenter(column);
   
    width: 100%;
    align-items: flex-start;
}

.editarOuCadastrarFormBtn{
    display: flex;
    gap:2rem;
}

@media(max-width:1130px){
    .editarOuCadastrarForm{
       width: 70%;
    }
}
@media(max-width:650px){
    .editarOuCadastrarForm{
        box-shadow: none;
        width: 90%;
    }
}