$navbar-color:#132a13;
$navbar-text:#bdbdbd;
$navbar-text-onSelect: #fafafa;
$navbar-active-tab: rgb(0, 114, 229);
$cards-background:#FFFFFF;
$icons-color:#33691e;

//rgb(23, 58, 94);
//#7F8E9D;
//bg  rgb(0, 30, 60); 